<ion-view view-title="Assur'Lab App">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="firstItem in firstItems" class="size" ng-click="playVideo()">
        <div><img src="play.png"></div>
        <h1>{{firstItem.titre}}</h1></br>
        <p>{{firstItem.description}}</p>
        
      </ion-item>
      <ion-item ng-repeat="secondItem in secondItems" class="size" ng-click="showImages()">
        <div><img src="pdf_1.png"></div>
        <h1>{{secondItem.titre}}</h1></br>
        <p>{{secondItem.description}}</p>
       
      </ion-item>
      <ion-item ng-repeat="thirdItem in thirdItems" ng-click="playImpress()" class="size">
        <div><img src="slide.png"></div>
        <h1>{{thirdItem.titre}}</h1></br>
        <p>{{thirdItem.description}}</p>
      </ion-item>
      <ion-item ng-repeat="fourthItem in fourthItems" href="#/app/lists/{{fourthItem.id}}" class="size">
        <div><img src="doc.png"></div>
        <h1>{{fourthItem.titre}}</h1></br>
        <p>{{fourthItem.description}}</p>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
