/* Empty. Add your own CSS if you like */
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background-color: #000 ;
    opacity: 0.9;
}
 
 
.slider {
    width: 100%;
    height: 100%;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}
 
.fullscreen-player {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
 .item h2{
     margin-left: 32px;
     float: left;
     margin-top: -25px;
     color: #D71F1F;
     font-weight: bold;
     font-size: 95%;
 }
 
 .item i{
     float: left;
     margin-right: 10px;
 }
 
 .item p{
    margin-top: 1px;
    float: left;
    color: black;
    white-space: pre-line;
    font-size: 80%;
 }
 
.rouge{
    background-color: #D71F1F;
}

.rouge h2 {
    color: white;
}

.rouge img{
    width: 22px;
    height: 22px;
    
}

img{
    width: 22px;
    height: 22px;
    
}

